/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2-giu-2020, 15.49.04
    Author     : guido
*/

body {
    font-family: Helvetica, sans-serif;
    text-align: justify;
    text-justify: inter-word;
    color: black;
}

h1 {
    text-align: center;
}

.bck-img {
    background-image: url("/img/background-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/*.navbar {
    background-color: #00A641;
    background-color: #e3f2fd;
}*/

.header-section {
    border-bottom: 3px solid #2f2f33;
    margin-bottom: 2em;
}

.navbar-brand {
    font-weight: bolder;
}

.navbar-inverse .navbar-nav > li > a {
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
}

.breadcrumb > li > a {
    color: black;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #cccccc;
    outline: 0;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

.carousel-inner > .item {
    height: 50vh;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-height: 500px;
    width: auto;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none;
}

.carousel .carousel-indicators li {
    background-color: #fff;
    background-color: rgba(70, 70, 70, 0.25);
}

.carousel .carousel-indicators .active {
    background-color: #444;
}

.carousel-caption > h4, p {
    font-family: Helvetica, sans-serif;
    color: black;
}

select option[data-default] {
    color: #888;
}

.invalid-input {
    color: #bd2310;
    font-weight: bold;    
}

.w3-hoverable tbody tr:hover,
.w3-ul.w3-hoverable li:hover {
    background-color:#ccc
}

.w3-ul {
    list-style-type:none;
    padding:0;
    margin:0
}

.w3-ul li {
    padding:8px 16px;
    border-bottom:1px solid #ddd
}

ul.list-group li:focus {
    color: #ffffff;
    background-color: #cccccc;
}

.highlight {
    background-color: #ababab;
}

#C2960-X {
    max-width: 100%;
    height: auto;
}

#C2960-S {
    max-width: 100%;
    height: auto;
}

.Cisco {
    max-width: 100%;
    height: auto;
}

.right {
    float: right;
}

